body{
    /* background-color: #f7f1e3; */
    background-color: #c7ecee;
}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10%;
    color: #2c2c54;
    
}
.btn-1{
    padding: 8px;
    font-size: 60%;
    position: relative;
    /* margin-right: 10px; */
    background-color: #78e08f;
    border-radius: 8%;
    border-color: transparent;
    color: white;
    top: 4vh;
}
.btn-2{
    padding: 8px;
    font-size: 60%;
    position: relative;
    margin-right: 16px;
    background-color: #ff3f34;
    border-radius: 8%;
    border-color: transparent;
    color: white;
    top: 4vh;
}