* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16rem;
  }
.card {
    background: radial-gradient(#fabdea, #a347b5);
    margin: 40px;
    padding: 10px;
    width: 300px;
    height: 150px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    text-align: center;
}
.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.title {
    color: rgba(0, 0, 0, 0.927);
    font-size: 23px;
    padding: 20px 20px 0px 20px;
}
  
.description {
    color: rgb(0, 0, 0);
    font-size: 19px;
    padding: 10px;
    text-align: center;
}

 

  

  